<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
        <h2 class="alert">404</h2>
        <p class="prompt">Page is not found. Go to the <a href="/">main page.</a></p>
    </div>
</body>
</html>